In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("netflix_titles.csv")

In [75]:
df.head(5)

,level_0,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,combine_features
0,0,0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,"Alan Marriott, Andrew Toth, Brian Dobson, Cole..."
1,1,1,80117401,Movie,Jandino: Whatever it Takes,unknown,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,Jandino Asporaat Stand-Up Comedy unknown
2,2,2,70234439,TV Show,Transformers Prime,unknown,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...","Peter Cullen, Sumalee Montano, Frank Welker, J..."
3,3,3,80058654,TV Show,Transformers: Robots in Disguise,unknown,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,"Will Friedle, Darren Criss, Constance Zimmer, ..."
4,4,4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,"Nesta Cooper, Kate Walsh, John Michael Higgins..."

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
show_id         6234 non-null int64
type            6234 non-null object
title           6234 non-null object
director        4265 non-null object
cast            5664 non-null object
country         5758 non-null object
date_added      6223 non-null object
release_year    6234 non-null int64
rating          6224 non-null object
duration        6234 non-null object
listed_in       6234 non-null object
description     6234 non-null object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [14]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [16]:
features = ['description','cast','listed_in','director']

In [18]:
for feature in features:
    df[feature] = df[feature].fillna('unknown')

In [60]:
def combine_features(row):
    try:
        return(row['cast'] + " " + row['listed_in'] + " " + row['director'])
    except:
        return row

In [61]:
df['combine_features'] = df.apply(combine_features,axis=1)

In [62]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [63]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df['combine_features'])

In [64]:
similarity_scores = cosine_similarity(count_matrix)

In [68]:
# df.set_index('show_id')
# df.reset_index()

In [74]:
def get_index_from_title(title):
    return df[df.title == title]['index'].values[0]

def get_title_from_index(index):
    return df[df.index == index]['title'].values[0]


movies_user_likes = "Transformers Prime"
movie_index = get_index_from_title(movies_user_likes)
lists = list(enumerate(similarity_scores[movie_index]))
similar_movies = sorted(lists,key=lambda x:x[1],reverse=True)

i=0
for movie in similar_movies:
    print(get_title_from_index(movie[0]))
    i= i + 1
    if i > 10:
        break

Transformers Prime
All Hail King Julien: Exiled
The Garfield Show
Loo Loo Kids: Johny & Friends Musical Adventures
Masha's Spooky Stories
Chuck Chicken
Bure Kaam Bura Natija, Kyun Bhai Chacha Haan Bhatija
Oscar's Oasis
Masha's Tales
Zig & Sharko
JingleKids